:root{
  --linear : linear-gradient(135.06deg, #A2A7F0 -0.05%, #696EDD 100.05%);
  --white: #ffffff;
  --primery: #696EDD;
  --text-font: "Montserrat", "Arial", sans-serif;
  --text-color:#6E728E;


}
/* Fonts  */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
  url("../fonts/montserrat-v18-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/montserrat-v18-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""),
  url("../fonts/montserrat-v18-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/montserrat-v18-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:var(--text-font);
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  background-color: #F7F7FE;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

.active{
  padding: 25px 0;
  background-image:var(--linear);
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.btn-dark{
  width: 100%;
  background:var(--linear);
  border:1px solid var(--primery);
  border-radius: 6px;
  color:var(--white);
  transition: .5s all ease-in-out;
}
.btn-dark:hover{
  /* border: 1px solid #6D72DE; */
  background:#fff;
  color:var(--primery);

}
.btn-light{
  width: 100%;
  background:var(--white);
  border: 1px solid #fff;
  color:var(--primery);
  border-radius: 6px;
  transition: .5s all ease-in-out;
}

.btn-light:hover{
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--white);
  color:var(--white);
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}
.wrapper{
  width: 1300px;
  padding-top: 70px;
  padding-bottom: 105px;
  padding-right: 155px;
  padding-left: 155px;
  margin: auto;
}

.pricing-header {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.payment-type {
  display:flex;
  align-items: center;
  margin-bottom: 65px;
}
.payment-type-text {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 28px;
  opacity: 0.5;
}
.payment-type-control {
  width: 56px;
  height: 32px ;
  margin: 0 24px;
  background-image:var(--linear);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}

.circle{
  position: absolute;
  top: 2;
  left: 2px;
  width: 24px;
  height: 24px;
  border-radius:50%;
  background-color: var(--white);
  transform: translateX(3px);
  transition: .4s all ease-in-out;
}
.input-switcher:checked + span{
  transform: translateX(25px);
}


/* PACKAGES  */
.main{
  display: flex;
  justify-content: center;
  align-items:center;
}
.package {
  display: flex;
  flex-direction: column;
  width: 350px;
  align-items: center;
  padding: 30px;
  background-color:#fff;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);

}
.package-type {
}

.active .hr{
  background-color: var(--white);
}
.hr{
  background-color:#6E728E;
  width: 100%;
  height: 1px;
  opacity: 0.25;
}
.sum {
  font-weight: bold;
  font-size: 72px;
  line-height: 71px;
  letter-spacing: -2.16px;
  color: #4A4D60;
  margin-bottom: 32px;

}
.active .sum{
  color: var(--white);
}
.package-discr {

}
.btn-dark {
}
.active {
  padding: 55px 30px;
  color:var(--white)
}
.btn-light {
}

a{
  text-decoration: none;
  color:var(--text-color);
  padding: 14px 0 ;
  text-align: center;
}